* {
    box-sizing: content-box;
}
.page-header h1 {
    background-color: rgb(158, 114, 114);
    color: white;
    border-color: saddlebrown;
    border-style: groove;
    padding: 0rem 0rem;
}
.page-header h2 {
    color: maroon;
    border-width: 1 1 1 1;
}
.navigation-menu li {
    list-style: none;
    display: inline-block;

p {
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen{
    display: flex;

}


